body {
    background-color: #0a0b10;
    color: #00ff41; /* Neon Green */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #161b22;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #30363d;
    box-shadow: 0px 0px 20px rgba(0, 255, 65, 0.2);
    width: 90%;
    max-width: 600px;
}

h1 { color: #ffffff; margin-bottom: 10px; }

.search-box { margin: 30px 0; }

input {
    padding: 12px;
    width: 70%;
    background: #0d1117;
    border: 1px solid #30363d;
    color: white;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 12px 20px;
    background: #238636;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover { background: #2ea043; }

.hidden { display: none; }

.result-container { margin-top: 20px; text-align: left; padding: 15px; border-radius: 5px; }
.safe { color: #2ecc71; background: rgba(46, 204, 113, 0.1); padding: 10px; border: 1px solid #2ecc71; }
.danger { color: #e74c3c; background: rgba(231, 76, 60, 0.1); padding: 10px; border: 1px solid #e74c3c; }
